/*VARIABLES*/

:root {
  --fuentePrincipal: "Open sans", sans-serif;
  /*COLORES*/
  --colorPrincipal: #f00;
  --secundario: #f2efef;
  --blanco: #fff;
  --negro: #000;
  --gris: #edeaea;
  --azul: #5768fa;
  --grisOscuro: #888686;
  --azulClaro: #3fadf7;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*GLOBALES*/
body {
  background-color: var(--secundario);
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.8rem;
  font-family: "Roboto"sans-serif;
  color: var(--negro);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;

  height: auto;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

h1,
h2,
h3 {
  text-align: center;

  font-family: var(--fuentePrincipal);
}

h1 {
  font-size: 3.8rem;
  color: var(--colorPrincipal);
}

h2 {
  font-size: 3.2rem;
  color: var(--negro);
}

h3 {
  font-size: 2.4rem;
  color: var(--negro);
}

header video {
  width: 100%;
  height: auto;
}


/*HEADER*/

header {
  background-color: var(--gris);
}

header .navegacion {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--gris);
}

header .logo,
footer .logo {
  width: 70px;
  border-radius: 10px;
}

header .navegacion ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header .navegacion ul li a {
  display: inline-block;
  margin-right: 3rem;
  color: var(--negro);
  font-size: 2rem;
}

header .navegacion ul li {
  margin-bottom: 1rem;
}

.titular {
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media screen and (min-width: 768px) {
  header .navegacion {
    flex-direction: row;
    justify-content: space-around;
  }

  header .navegacion ul {
    flex-direction: row;
    justify-content: space-between;
  }

  header .navegacion ul li a {
    display: inline-block;
    margin-right: 3rem;
    color: var(--negro);
    font-size: 2rem;
  }

  header .navegacion ul li a:hover {
    font-weight: bold;
    color: var(--colorPrincipal);
    text-decoration: underline;
    font-size: 2rem;
  }
}

/*SOBRE NOSOTROS*/

.sobre__nosotros {
  display: flex;
  justify-content: center;
  align-items: star;
  flex-wrap: wrap;
  gap: 2rem;
}

.sobre__nosotros h2 {
  flex: 1 0 100%;
}

.sobre__nosotros .articulo {
  flex: 1 0 40%;
  text-align: justify;
}

.sobre__nosotros--texto,
.lado__derecho p {
  width: 90%;
  margin: 0 auto;
  font-family: var(--fuentePrincipal);
  line-height: 3.5rem;
}

.enlace {
  display: block;
  background-color: var(--azul);
  color: var(--blanco);
  padding: 1rem 1rem;
  margin: 2rem 0;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-align: center;
}

.lado__derecho span {
  font-size: 1.5rem;
}

.lado__derecho a {
  font-weight: bold;
}

.lado__derecho i {
  font-size: 5rem;
  margin-left: 2rem;
}


.facebook {
  color: var(--azul);
}

.instagram {
  color: var(--colorPrincipal);
}

/* FOOTER */

.footer {
  margin-top: 5rem;
  padding: 2rem;
  background: linear-gradient(to right,
      rgba(209, 201, 201, 1) 0%,
      rgba(0, 0, 0, 0.95) 17%,
      rgba(44, 44, 44, 0.92) 28%,
      rgba(43, 43, 43, 0.89) 41%,
      rgba(28, 28, 28, 0.88) 42%,
      rgba(17, 17, 17, 0.77) 82%,
      rgba(102, 102, 102, 0.76) 84%,
      rgba(89, 89, 89, 0.75) 88%,
      rgba(76, 76, 76, 0.72) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--blanco);
}

.footer .navegacion__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer .navegacion__footer ul {
  padding: 0;
}

.footer .navegacion__footer ul li a {
  display: block;
  margin: 1.5rem;
  font-size: 2rem;
  color: var(--blanco);
  font-weight: bold;
}

.footer .navegacion__footer ul li a:hover {
  text-decoration: underline;
  color: var(--colorPrincipal);
}

.footer .parrafo__final {
  flex: 0 1 100%;
  text-align: center;
  color: var(--blanco);
  font-size: 1.2rem;
}

.footer .direccion h4 {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 0;
}

.footer .direccion p {
  color: var(--blanco);
}

.footer .direccion span {
  color: var(--blanco);
}

@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .footer .imagen__footer {
    flex: 0 1 50%;
  }

  .footer .navegacion__footer {
    align-self: flex-start;
  }

  .footer .direccion {
    flex: 0 0 20%;
    align-self: flex-start;
  }

  .footer .navegacion__footer img {
    width: 80px;
  }
}

/* ESPECIALIDADES */



@media screen and (min-width: 480px) {
  .padre {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .padre {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 2rem;
  }
}

.padre,
.inicio {
  padding: 1rem;
}

.especialidades p {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.2rem;
  line-height: 3rem;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.padre .tarjeta img {
  border-radius: 1.5rem;
}

/* COMENTARIOS */

.contenido__comentarios {
  padding: 1rem;
  font-family: "Roboto", sans-serif;
  background-color: var(--blanco);
}

.comentarios h2,
.contacto h2 {
  text-transform: uppercase;
}

.contenido__comentarios .nombre {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contenido__comentarios .nombre p {
  flex: 1 0 40%;
  font-weight: bold;
  margin-bottom: 0;
}

.contenido__comentarios .nombre {
  width: 80%;
}

.contenido__comentarios .parrafo {
  color: var(--grisOscuro);
  box-shadow: 10px -17px 20px 2px #cdcbcb;
}

@media screen and (min-width: 480px) {
  .contenido__comentarios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .contenido__comentarios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
  }
}

/* CONTACTO */

.contenido__contacto .texto {
  width: 90%;
  margin: 0 auto;
  font-family: "Open sans", sans-serif;
  letter-spacing: 0.2rem;
  line-height: 3rem;
}

.formulario {
  width: 90%;
  padding: 4rem;
  background-color: var(--blanco);
  margin: 0 auto;
}

.campo {
  display: flex;
  margin-bottom: 2rem;
}

.etiqueta {
  flex: 0 0 9rem;
  padding-right: 2rem;
  font-family: "Open sans", sans-serif;
  color: var(--grisClaro);
}

.campo__texto,
.campo__email,
.campo__mensaje {
  flex: 1;
  border: none;
  border-bottom: 0.5px solid var(--azulClaro);
  font-family: "Open sans", sans-serif;
  margin-top: 2rem;
}

.campo__mensaje {
  min-height: 10rem;
  max-height: 15rem;
}

.campo__enviar {
  display: inline-block;
  background-color: var(--azulClaro);
  color: var(--blanco);
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 1rem 2rem;
  width: 100%;
  margin: 0 auto;
  margin-top: 2rem;
  border: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  .campo__enviar {
    width: 12rem;
  }

  .contenedor-fotos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
  }

  .imagen1 {
    grid-area: 1 / 1 / 2 / 2;
  }

  .imagen2 {
    grid-area: 1 / 2 / 2 / 3;
  }

  .imagen3 {
    grid-area: 1 / 3 / 2 / 4;
  }

  .imagen4 {
    grid-area: 2 / 2 / 3 / 3;
  }
}

.fotos {
  margin: 5rem 0;
}

.imagen1,
.imagen2,
.imagen3,
.imagen4 {
  width: 95%;
  margin: 0 auto;
}